{% extends "base.html" %}

{% block title %}Machine Learning Models{% endblock %}

{% block content %}

<div class="page">

    <h1>Flight Delay Prediction Models</h1>

    <p>
        This page compares the performance of different machine learning
        algorithms used to predict whether a flight will be delayed or arrive
        on time. Evaluation metrics will be displayed after model training.
    </p>

    <table>

        <tr>
            <th>Machine Learning Model</th>
            <th>Accuracy</th>
            <th>Precision</th>
            <th>Recall</th>
            <th>F1 Score</th>
        </tr>

        <tr>
            <td>Logistic Regression</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
        </tr>

        <tr>
            <td>Decision Tree Classifier</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
        </tr>

        <tr>
            <td>Random Forest Classifier</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
        </tr>

        <tr>
            <td>K-Nearest Neighbors (KNN)</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
        </tr>

        <tr>
            <td>Naïve Bayes</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
        </tr>

        <tr>
            <td>Support Vector Machine (SVM)</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
        </tr>

        <tr>
            <td>XGBoost (Optional)</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
        </tr>

    </table>

    <br>
    <h2>Best Model</h2>

    <div class="card">
        <h3>Selected Model</h3>
        <p>
            The best-performing machine learning model based on evaluation
            metrics will be displayed here after training and testing.
        </p>
    </div>

</div>

{% endblock %}